AnchorPane{
    -fx-background-color: #D4FFD4;
}
#nuevoP{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #32CD32;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}
#nuevoP:hover{
    -fx-background-color: #AAFFAA;
}
#lCrearP{
    -fx-font-size: 15px;
}

MenuBar{
    -fx-background-color: #D4FFD4;
    -fx-font-size: 15px; 
}
.bProyecto{
    -fx-background-color: #FFFD5B;
    -fx-border-color: #FFC41E;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-margin-rigth: 10px;
}